.aboutSection {
  margin-top: var(--space-4);
  background-color: var(--color-bg-alt);
  padding-block: var(--space-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-9);
}

/* Split Row */
.splitRow {
  display: grid;
  gap: var(--space-8);
}

/* Text */
.textBlock {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.textBlock h2 {
  font-size: var(--text-2xl);
}

/* Single Image */
.imageBlock img {
  width: 100%;
  display: block;
  border-radius: var(--radius-lg);
}

/* Image Grid */
.imageGrid {
  display: grid;
  gap: var(--space-4);
  margin-top: var(--space-4);
}

.imageGrid img {
  width: 100%;
  display: block;
  border-radius: var(--radius-lg);
}

/* ================= */
/* DESKTOP LAYOUT   */
/* ================= */

@media (min-width: 1025px) {
  .splitRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-10);
    align-items: flex-start;
    /* margin-bottom: 3rem; */
  }

  /* FIRST ROW (default) */
  /* Text left, Image right — natural order */

  /* SECOND ROW — explicit placement */
  .reverseRow > :first-child {
    grid-column: 1; /* Image grid left */
  }

  .reverseRow > :last-child {
    grid-column: 2; /* Text right */
  }

  /* Image grid layout */
  .imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .imageGrid img:last-child {
    grid-column: 1 / -1;
  }

  .reverseRow {
    margin-top: var(--space-7);
  }
}
