.wrapper {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.description {
  max-width: 650px;
  line-height: 1.8;
  color: var(--text-secondary);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.9rem 2rem;

  border-radius: 999px;

  text-decoration: none;

  font-weight: 600;

  transition: 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
}
