.resources {
  padding-block: var(--padding-block);
}

.grid {
  display: flex;
  gap: 1.5rem;

  overflow-x: auto;
  overscroll-behavior-x: contain;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;

  padding-bottom: 1rem;

  scrollbar-width: none;
}

.grid::-webkit-scrollbar {
  display: none;
}

.grid > * {
  flex: 0 0 88%;
  scroll-snap-align: start;
}

/* Desktop layout */
@media (min-width: 1025px) {
  .grid {
    display: grid;
    gap: 2rem;
    align-items:center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "intro intro card2"
      "card3 card4 card5";

    grid-auto-rows: 1fr;
  }

  .intro {
    grid-area: intro;
    background-color: white;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
}
