/* Base grid */
.grid {
  display: grid;
  gap: var(--space-6);
}

.contentColumn h3,
.contentColumn h4 {
  margin-block: var(--space-3);
}

.contentColumn h3 {
  font-size: var(--text-xl);
}

.contentColumn p {
  margin-bottom: var(--space-4);
}

/* Desktop Layout 40 / 60 */
@media (min-width: 1025px) {
  .grid {
    grid-template-columns: 1fr 1fr; /* 40 / 60 */
    align-items: stretch;
    gap: var(--space-8);
  }

  .reverse {
    direction: rtl;
  }

  .reverse > * {
    direction: ltr;
  }
}

/* Left Column */
.mediaColumn {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.mediaColumn h2 {
  font-size: var(--text-2xl);
  line-height: 1.2;
}

/* Push image to bottom */
@media (min-width: 1025px) {
  .mediaColumn {
    justify-content: space-between;
  }
}

/* Image styling */
.image {
  width: 100%;
  display: block;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

/* Right Column */
.contentColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 65ch;
}
